<nav class="sidebar">
    <div class="sidebar-brand">
        <span class="brand-icon">&#x1F50D;</span>
        <span class="brand-text">DeepResearch</span>
    </div>

    <ul class="nav-links">
        <li>
            <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
                <span class="nav-icon">&#x1F9EA;</span>
                <span>Research</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="config" class="nav-link">
                <span class="nav-icon">&#x1F511;</span>
                <span>API Keys</span>
            </NavLink>
        </li>
    </ul>

</nav>
